#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
*.class
*.info
*.properties
*.jar

/lib/
/out/
/JavaRushPlugin.properties
/Instruction.png
/JR_M.iml
/M_JavaRushPlugin.properties
/Primary_JavaRushPlugin.properties
/out.log
/out.log.*
/qodana.yaml
